body {
	margin: 0;
	font-family: 'Signika', sans-serif;
}

@media (max-width: 500px) {
	#link {
		width: 35%;
	}
	.title h1 {
		font-size: 50px;
	}
}

@media (min-width: 550px) {
	#link {
		width: 15%;
	}
	.title h1 {
		font-size: 75px;
	}
}

#link {
	margin-top: 5%;
	background-color: #76A6A4;
	padding: 25px;
	border-radius: 15px;
	margin: 0 auto;
	text-align: center;
}

#loader {
}

a {
	text-decoration: none;
	color: white;
}

.title {
	background-color: #EDC0AF;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	text-align: center;
}

.title h1 {
	color: white;
}

.title div {
	padding-top: 15%;
}

#result {
	padding: 0;
}