<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <link rel="stylesheet" href="static/css/style.css" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Signika:700' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
{% block body %}
<section class="title">

  <div id="result">
    <div>
      <h1>Rest Stop Finder</h1>
    	<p id="loader">Finding the closest rest stop for you...</p>
    </div>
  </div>	
</section>

<script>


data = {};

// waits 10 seconds before secondCall() is called
function stateChange(newState) {      
      setTimeout(function () {
        if (newState == -1) {
          secondCall();
        }
      }, 10000);
      
};

// error handler
var geoError = function(error) {
  console.log('Error occurred. Error code: ' + error.code);
  // error.code can be:
  //   0: unknown error
  //   1: permission denied
  //   2: position unavailable (error response from location provider)
  //   3: timed out
};

// timeout
var geoOptions = {
   timeout: 10 * 1000
}

// finds two GPS positions of the vehicle
function findPosition() {
  firstCall();
  stateChange(-1);
};

// calls findPosition() when window loads
window.onload = findPosition();

// first call to find GPS position of vehicle
function firstCall() {
  var startPos;

  // finds the latitude and longitude of the vehicle based on position
  var geoFirst = function(position) {
    startPos = position;

    data['beginLat'] = startPos.coords.latitude;
    data['beginLon'] = startPos.coords.longitude;
  };
  
  navigator.geolocation.getCurrentPosition(geoFirst, geoError, geoOptions);
};

// finds the second GPS position of the vehicle
function secondCall() {
    var endPos;

    // finds the latitude and longitude of the vehicle a second time
    var geoSecond = function(position) {
      endPos = position;

      data['endLat'] = endPos.coords.latitude;
      data['endLon'] = endPos.coords.longitude;

      var result;

      // send data to server
      $.ajax({
        type : "POST",
        url : "{{ url_for('find_stop') }}",
        data: JSON.stringify(data, null, '\t'),
        contentType: 'application/json;charset=UTF-8',
        success: function(result) {
            document.getElementById("result").innerHTML = result;

        }
        
      });

      return data;
    };
    
    navigator.geolocation.getCurrentPosition(geoSecond, geoError, geoOptions);
};


</script>


{% endblock %}
